

body {
 margin: 0px;
  height: 0px;
background-color: #1B4242;
color: #9EC8B9;
}

.title {
  font-size: 50px;
  font-family: verdana;
  text-align: center;
}
.title2 {
  font-size: 35px;
  font-family: verdana;
  text-align: center;
}

.head {

  background-color: #092635;
width: 100%;
height: 40px;


}

.header td {
  width: 80px;
  float: left;
    margin: 5px;
    font-size: 18px;
    user-select: none;
    text-align: center;
    height: 100%;
    display: block;
    font-family: verdana;

}
.header td:hover {
  color: white;
  font-size: 20px;
  transition: all 0.4s ease;
}

.map {
  height: auto;
  width: 80%;
  padding: 0 40px 0 40px;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  display: block;
  max-width: 800px;
  border-radius: 20px;
    transition: all 0.3s ease;
}
.map:hover {
width: 83%;
}

.girlimg {
  height: auto;
  width: 100vw;
  display: block;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  margin: 0;
}

.mapabout {
  font-size: 20px;
  font-family: verdana;
  text-align: center;
}

.sigma {
   background-color: #5C8374;
     margin: 0;
  padding: 15px;
    font-family: verdana;
text-align: center;
}

 a:link {
      text-decoration: none;
      color: #9EC8B9;
}

a:visited {
      text-decoration: none;
      color: #9EC8B9;
}

a:hover {
      text-decoration: none;
      color: #9EC8B9;
}

a:active {
      text-decoration: none;
      color: #9EC8B9;
}

